---
layout: default
---
<div class="container">
	<!--start: Row -->
	<div class="row">
        {% assign posts = paginator.posts %}
        {% for post in posts %}
            {% assign filter = post.date | date: '%Y%m%d' %}
            {% assign capture_collections = site.captures | where: "label", filter | where: "network", post.network %}
            {% assign capture_collection = capture_collections | first %}
            {% assign capture = capture_collection.capturas | first %}

            {% if capture_collection.capturas.size > 0 %}
                <!-- start: Post -->
                <article class="col-md-4" style="height: 400px !important; margin-bottom: 1em;">
                    <div class="post-content">
                        <div class="post-title">
                            <h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }} - {{ post.network }}</a></h2>
                        </div>
                        <div class="post-meta">
                            <span><i class="fa fa-calendar"></i> {{ post.date | date: '%d/%m/%Y' }}</span>
                        </div>
                        <div class="post-description">
                            <a href="{{ post.url | prepend: site.baseurl }}">
                                <img src="{{ capture.imagem | prepend: 'https://meteoros.s3.amazonaws.com/' }}"
                                     class="img img-thumbnail img-responsive {% if post.network == 'GMN' %}rotateimg180{% endif %}">
                            </a>

                            <br>
                            Rede: {{ capture_collection.network }} <br>
                            Total de capturas: {{ capture_collection.capturas.size }}
                        </div>
                    </div>
                </article>
                <!-- end: Post -->
            {% endif %}
        {% endfor %}
	</div>
	<!--end: Row -->

	<!--start: Row -->
	<div class="row">
        <!-- start: pagination -->
        <nav class="col-md-12 text-center">
            <ul class="pagination">
                <li>
                    {% if paginator.previous_page %}
                    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo;</a>
                    {% else %}
                    <span>&laquo;</span>
                    {% endif %}
                </li>

                {% for page in (1..paginator.total_pages) %}
                <li>
                    {% if page == paginator.page %}
                    <a href="#">{{ page }}</a>
                    {% elsif page == 1 %}
                    <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
                    {% else %}
                    <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{
                        page }}</a>
                    {% endif %}
                </li>
                {% endfor %}

                <li>
                    {% if paginator.next_page %}
                    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">&raquo;</a>
                    {% else %}
                    <span>&raquo;</span>
                    {% endif %}
                </li>
            </ul>
        </nav>
        <!-- end: pagination -->
	</div>
	<!--end: Row -->
</div>
<!--end: Container-->
