---
layout: default
---
<!--start: Container-->
<div class="container">
	<!--start: Row -->
	<div class="row">
        <div class="col-sm-12 col-md-10">
            {% assign posts = paginator.posts %}
            
            {% for post in posts %}
                {% assign filter = post.date | date: '%Y%m%d' %}
                {% assign capture_collections = site.captures | where: "label", filter | where: "network", post.network | where: "station", post.station %}
                {% assign capture_collection = capture_collections | first %}
                {% assign capture = capture_collection.capturas | first %}

                <!-- start: Post -->
                <article class="col-md-4 mb-1">
                    <div class="post-content">
                        <div class="post-title">
                            <h2 class="nobreak"><a href="{{ post.url }}">{{ post.title }}</a></h2>
                        </div>
                        <div class="post-description">
                            <a href="{{ post.url }}">
                                <img src="{{ capture.imagem | prepend: site.s3_bucket }}"
                                        class="img img-thumbnail img-responsive">
                            </a>
                        </div>
                        <div class="post-meta">
                            <span><i class="fa fa-calendar"></i> Data: {{ post.date | date: '%d/%m/%Y' }}</span><br>
                            <span><i class="fa fa-globe-americas"></i> Rede: {{ capture_collection.network }}</span><br>
                            <span><i class="fa fa-meteor"></i> Capturas: {{ capture_collection.capturas.size }}</span>
                        </div>
                    </div>
                </article>
                <!-- end: Post -->
            {% endfor %}
        </div>
        <div class="col-sm-12 col-md-2 sidebar">
            {% include sidebar.html %}
        </div>
	</div>
	<!--end: Row -->

	<!--start: Row -->
	<div class="row">
        {% include pagination.html %}
	</div>
	<!--end: Row -->
</div>
<!--end: Container-->
