---
layout: default
permalink: videos
title: Vídeos
---
<!--start: Container-->
<div class="container">
	<!-- Main component for a primary marketing message or call to action -->
	<div class="jumbotron">
		<h1>{{ page.title | upcase }}</h1>
		<p>Vídeos da BRAMON</p>
	</div>

	{% for videos in site.data.videos.videos %}
	<!--start: Row -->
	<div class="row">
		<div class="col-md-12">
			<h2>{{ videos.grupo }}</h2>
		</div>

		{% for video in videos.videos %}
			{% assign video_meta = video.url | split: "=" %}
		<article class="col-md-4 mb-1">
			<div class="post-content">
				<div class="post-description">
					<a href="{{ video.url }}" target="_blank">
						<img src="https://img.youtube.com/vi/{{ video_meta | last }}/mqdefault.jpg"
							 class="img img-thumbnail img-responsive">
					</a>
				</div>
				<div class="post-meta">
					<span><i class="fa fa-clip"></i> {{ video.titulo }}</span><br>
				</div>
			</div>
		</article>
		{% endfor %}
	</div>
	<!--end: Row -->
	{% endfor %}
</div>
<!--end: Container-->
