    <hr>

    <footer>
        <p class="text-center">&copy; 2018-{{ site.time | date: '%Y' }}</p>
    </footer>

    <a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" title="Para o topo" data-toggle="tooltip" data-placement="left"><span class="glyphicon glyphicon-chevron-up"></span></a>

    <!-- start: Java Script -->
    <script src="//code.jquery.com/jquery-2.2.1.min.js" integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00=" crossorigin="anonymous"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="//kit.fontawesome.com/1ed5defbcd.js" crossorigin="anonymous"></script>
    <script src="{{ '/assets/functions.js' | prepend: site.baseurl }}"></script>
</body>
</html>
