    <!-- start: Java Script -->
    <script src="//code.jquery.com/jquery-2.2.1.min.js" integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00=" crossorigin="anonymous"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="//kit.fontawesome.com/1ed5defbcd.js" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/galleria/1.5.7/galleria.min.js"></script>
    <script async src="//www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
    <script>
        (function() {
            if ($('.galleria').length) {
                Galleria.loadTheme('/assets/galleria/dist/themes/classic/galleria.classic.min.js');
                Galleria.run('.galleria');
            }

            $('#form_busca').on('submit', function(e) {
                e.preventDefault();

                var data_captura = $('#data_captura').val();
                var rede_captura = $('input[name=rede_captura]:checked', '#form_busca').val();
                var data_exploded = data_captura.split('-');
                
                var url = data_exploded[0] + '/' + data_exploded[1] + '/' + data_exploded[2]
                    + '/' + rede_captura + '-' + data_captura;
                
                window.location.href = '{{ site.url }}/' +  url + '/';
            })
        }());
    </script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{ site.google_analytics }}');
    </script>
</body>
</html>