<!DOCTYPE html>
<html lang="pt">
    <head>
        <!-- start: Meta -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    
        <meta name="description" content="{{ site.description }}">
        <meta name="keywords" content="meteoro,meteorito,meteoróide,estações,estação,BRAMON,monitoramento,chuva,gmn,raspberry,pi,meteor,câmera,céu,floripa,florianópolis">
        <meta name="author" content="contato (at) meteoros.floripa.br">
    
        <!-- Open Graph Meta Tags -->
        <meta property="og:locale" content="pt_BR">
        <meta property="og:url" content="{{ site.url }}{% if page.slug %}{{ page.url }}{% endif %}">
        <meta property="og:title" content="{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}">
        <meta property="og:site_name" content="{{ site.title }}">
    
        {% if page.preview %}
        <meta property="og:type" content="article">
        <meta property="og:description" content="{{ page.title }}">
        <meta property="og:image" content="{{ page.preview | prepend: site.storage_url }}">
        <meta property="og:image:type" content="image/jpeg">
        <meta property="og:image:width" content="720">
        <meta property="og:image:height" content="480">
        {% else if page.capture %}
        <meta property="og:type" content="article">
        <meta property="og:description" content="{{ page.title }}">
        <meta property="og:image" content="{{ page.capture | prepend: site.storage_url }}">
        <meta property="og:image:type" content="image/jpeg">
        <meta property="og:image:width" content="720">
        <meta property="og:image:height" content="480">
        {% else %}
        <meta property="og:type" content="website">
        <meta property="og:description" content="{{ site.description }}">
        <meta property="og:image" content="{{ '/assets/logo.png' | prepend: site.url }}">
        {% endif %}
        <!-- end: Meta -->
    
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
              integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
              integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css"
              integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw==" crossorigin="anonymous" />
    
        <link rel="stylesheet" href="{{ '/assets/main.css' | prepend: site.url }}">
        <link rel="stylesheet" href="{{ '/assets/social.css' | prepend: site.url }}">
    
        <!-- RSS Feed -->
        <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ '/feed.xml' | prepend: site.url }}">
    
        <!-- Favicon -->
        <link rel="icon" type="image/x-icon" href="{{ '/assets/favicon.ico' | prepend: site.url }}">
    </head>
<body>
    {% if jekyll.environment == "development" %}
	<div class="row">
		<div class="bg-warning">
			<p class="text-center"><i class="fab fa-dev"></i> development mode</p>
		</div>
	</div>
    {% endif %}

    <!-- Static navbar -->
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Menu</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand logo" href="{{ site.baseurl | prepend: site.url }}">
                    <img alt="{{ site.title }}" src="{{ '/assets/logo.png' | prepend: site.url }}" width="47" height="50">
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <!-- site pages -->
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{{ site.url }}"><i class="fa fa-home"></i> Início</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-broadcast-tower"></i> Estações <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            {% assign stations = site.stations | sort: 'navigation_weight' %}

                            {% for station in stations %}
                            <li><a href="{{ '/stations/' | prepend: site.url | append: station.station }}"><i class="fa fa-broadcast-tower"></i> {% if station.status == 'ativa' %}{{ station.station | upcase }}{% else %}<s>{{ station.station | upcase }}</s>{% endif %}</span></a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-question"></i> Saiba mais <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="https://www.bramonmeteor.org/bramon/" target="_blank"><i class="fas fa-desktop"></i> Sobre a BRAMON <i class="fas fa-external-link-alt"></i></a>
                            </li>
                            <li>
                                <a href="https://www.bramonmeteor.org/bramon/a-bramon/como-montar-uma-estacao-bramon/" target="_blank"><i class="fas fa-desktop"></i> Monte sua estação <i class="fas fa-external-link-alt"></i></a>
                            </li>
                            <li>
                                <a href="https://bramon.imo.net/members/imo/report_intro" target="_blank"><i class="fa fa-meteor"></i> Reporte um Bólido <i class="fas fa-external-link-alt"></i></a>
                            </li>
                        </ul>
                    </li>
                    {% comment %}
                    <li>
                        <a href="{{ '/perguntas-e-respostas' | prepend: site.baseurl }}"><i class="far fa-question-circle"></i> FAQ</a>
                    </li>
                    {% endcomment %}
                    <li>
                        <a href="{{ '/o-projeto' | prepend: site.baseurl }}"><i class="far fa-user"></i> Sobre</a>
                    </li>
                    <li>
                        <a href="{{ '/contato' | prepend: site.baseurl }}"><i class="fa fa-envelope"></i> Contato</a>
                    </li>
                </ul>
                <!-- /site pages -->

                <!-- calendar -->
                <ul class="nav navbar-nav navbar-right list-inline visible-lg">
                    <li><a href="javascript:;" title="Buscar por data" class="link date"><i class="fas fa-calendar-alt"></i></a></li>
                </ul>
                <!-- /calendar -->
            </div>
        </div>
    </nav>

	{% if site.maintenance == true %}
	<div class="jumbotron">
		<h1>Em manutenção</h1>
		<p>
			O site está passando por um período de manutenção e logo retornará a normalidade. <br> 
			Por favor, desconsidere qualquer problema.
		</p>
	</div>
	{% endif %}


