<head>
    <!-- start: Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>

    <meta name="description" content="{{ site.description }}">
    <meta name="keywords" content="meteoro,meteorito,meteoróide,estações,estação,BRAMON,monitoramento,chuva">
    <meta name="author" content="Thiago Paes - mrprompt (at) gmail.com">

    <!-- Open Graph Meta Tags -->
    <meta property="og:locale" content="pt_BR">
    <meta property="og:url" content="{{ site.url }}{% if page.slug %}{{ page.url }}{% endif %}">
    <meta property="og:title" content="{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}">
    <meta property="og:site_name" content="{{ site.title }}">

    {% if page.preview %}
    <meta property="og:type" content="article">
    <meta property="og:description" content="{{ page.title }}">
    <meta property="og:image" content="{{ page.preview | prepend: site.s3_bucket_url }}">
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image:width" content="720">
    <meta property="og:image:height" content="480">
    {% else if page.capture %}
    <meta property="og:type" content="article">
    <meta property="og:description" content="{{ page.title }}">
    <meta property="og:image" content="{{ page.capture | prepend: site.s3_bucket_url }}">
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image:width" content="720">
    <meta property="og:image:height" content="480">
    {% else %}
    <meta property="og:type" content="website">
    <meta property="og:description" content="{{ site.description }}">
    <meta property="og:image" content="{{ '/assets/logo.png' | prepend: site.url }}">
    {% endif %}
    <!-- end: Meta -->

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ '/assets/main.css' | prepend: site.url }}">
    <link rel="stylesheet" href="{{ '/assets/social.css' | prepend: site.url }}">

    <!-- RSS Feed -->
    <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ '/feed.xml' | prepend: site.url }}">

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{{ '/assets/favicon.ico' | prepend: site.url }}">
</head>
