<!-- Static navbar -->
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Menu</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logo" href="{{ site.baseurl | prepend: site.url }}">
                <img alt="{{ site.title }}" src="/assets/logo.png">
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ site.baseurl | prepend: site.url }}">Início</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Estações <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {% assign stations = site.stations | sort: 'navigation_weight' %}
                        {% for station in stations %}
                        <li>
                            <a href="{{ '/stations/' | prepend: site.url | append: station.station }}">{{ station.station | upcase }}</a>
                        </li>
                        {% endfor %}
                        <li role="separator" class="divider"></li>
                        <li><a href="http://www.bramonmeteor.org/bramon/sobre-a-bramon/como-montar-uma-estacao-bramon/" target="_blank">Como montar</a></li>
                    </ul>
                </li>
                <li><a href="{{ '/o-projeto' | prepend: site.url }}">O Projeto</a></li>
                <li><a href="{{ '/videos' | prepend: site.url }}">Vídeos</a></li>
                {% comment %}
                <li><a href="{{ '/contato' | prepend: site.url }}">Contato</a></li>
                {% endcomment %}
            </ul>
            <ul class="nav navbar-nav navbar-right list-inline visible-lg">
                <li><a href="https://facebook.com/MeteorosFloripa" title="Facebook"><i class="fab fa-facebook"></i></i>
                    <span class="hidden">Facebook</span></a></li>
                <li><a href="https://twitter.com/MeteorosFloripa" title="Twitter"><i class="fab fa-twitter"></i></i>
                    <span class="hidden">Twitter</span></a></li>
            </ul>
        </div>
    </div>
</nav>