<!-- Static navbar -->
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Menu</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logo" href="{{ site.baseurl | prepend: site.url }}">
                <img alt="{{ site.title }}" src="{{ '/assets/logo.png' | prepend: site.url }}">
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Estações <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {% assign stations = site.stations | sort: 'navigation_weight' %}

                        {% for station in stations %}
                        <li><a href="{{ '/stations/' | prepend: site.url | append: station.station }}">{{ station.station | upcase }} - <span class="badge badge-pill badge-{% if station.status == 'ativa' %}success{% else %}secondary{% endif %}">{{ station.status }}</span></a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li>
                    <a href="https://bramon.imo.net/members/imo/report_intro" target="_blank">Reporte um Bólido <i class="fas fa-external-link-alt"></i></a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right list-inline visible-lg">
                <li><a href="javascript:;" title="Buscar por data" class="link date"><i class="fas fa-calendar-alt"></i></a></li>
            </ul>
        </div>
    </div>
</nav>
