<!-- Static navbar -->
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Menu</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logo" href="{{ site.baseurl | prepend: site.url }}">
                <img alt="{{ site.title }}" src="{{ '/assets/logo.png' | prepend: site.url }}" width="47" height="50">
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <!-- site pages -->
            <ul class="nav navbar-nav">
                <li>
                    <a href="{{ site.url }}"><i class="fa fa-home"></i> Início</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                        aria-expanded="false"><i class="fa fa-broadcast-tower"></i> Estações <span
                            class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {% assign stations = site.stations | sort: 'navigation_weight' %}

                        {% for station in stations %}
                        <li>
                            <a href="{{ '/stations/' | prepend: site.url | append: station.station }}">
                                <i class="fa fa-broadcast-tower"></i> 
                                {% if station.status == 'ativa' %}{{ station.station | upcase }}{% else %}<s>{{ station.station | upcase }}</s>{% endif%}
                            </a>
                        </li>
                        {% endfor %}
                        <li role="separator" class="divider"></li>
                        <li>
                            <a href="{{ '/estatisticas' | prepend: site.url }}">
                                <i class="fa fa-table"></i> Estatísticas
                            </a>
                        </li>
                    </ul>
                </li>
                {% comment %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                        aria-expanded="false"><i class="fas fa-question"></i> Saiba mais <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="https://www.bramonmeteor.org/bramon/" target="_blank"><i
                                    class="fas fa-desktop"></i> Sobre a BRAMON <i
                                    class="fas fa-external-link-alt"></i></a>
                        </li>
                        <li>
                            <a href="https://www.bramonmeteor.org/bramon/a-bramon/como-montar-uma-estacao-bramon/"
                                target="_blank"><i class="fas fa-desktop"></i> Monte sua estação <i
                                    class="fas fa-external-link-alt"></i></a>
                        </li>
                        <li>
                            <a href="https://bramon.imo.net/members/imo/report_intro" target="_blank"><i
                                    class="fa fa-meteor"></i> Reporte um Bólido <i
                                    class="fas fa-external-link-alt"></i></a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="{{ '/perguntas-e-respostas' | prepend: site.baseurl }}"><i
                            class="far fa-question-circle"></i> FAQ</a>
                </li>
                {% endcomment %}
                <li>
                    <a href="{{ '/o-projeto' | prepend: site.baseurl }}"><i class="far fa-user"></i> Sobre</a>
                </li>
                <li>
                    <a href="{{ '/contato' | prepend: site.baseurl }}"><i class="fa fa-envelope"></i> Contato</a>
                </li>
            </ul>
            <!-- /site pages -->
        </div>
    </div>
</nav>
<!-- Static navbar -->