<!-- start: pagination -->
<nav class="text-center">
    <ul class="pagination">
        <li>
            {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="btn btn-primary btn-md">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            {% endif %}
        </li>

        <li>
            <form method="get">
                <select name="pagina" id="paginacao">
                {% for page in (1..paginator.total_pages) %}
                    <option value="{{ page }}">{{page}}</option>
                {% endfor %}
                </select>
            </form>
        </li>

        <li>
            {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="btn btn-primary btn-md">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
            {% endif %}
        </li>
    </ul>
</nav>
<!-- end: pagination -->
