<!-- Social Button HTML -->
<div class="col-lg-12 share">
    <!-- Twitter -->
    <a href="https://twitter.com/share?url={{ page.url | prepend: site.url }}" target="_blank" class="share-btn twitter">
        <i class="fab fa-twitter"></i>
    </a>

    <!-- Google Plus -->
    <a href="https://plus.google.com/share?url={{ page.url | prepend: site.url }}" target="_blank" class="share-btn google-plus">
        <i class="fab fa-google-plus"></i>
    </a>

    <!-- Facebook -->
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | prepend: site.url }}" target="_blank" class="share-btn facebook">
        <i class="fab fa-facebook"></i>
    </a>

    <!-- StumbleUpon (url, title) -->
    <a href="https://www.stumbleupon.com/submit?url={{ page.url | prepend: site.url }}&title={{ page.title }}" target="_blank" class="share-btn stumbleupon">
        <i class="fab fa-stumbleupon"></i>
    </a>

    <!-- Reddit (url, title) -->
    <a href="https://reddit.com/submit?url={{ page.url | prepend: site.url }}&title={{ page.title }}" target="_blank" class="share-btn reddit">
        <i class="fab fa-reddit"></i>
    </a>

    <!-- LinkedIn -->
    <a href="https://www.linkedin.com/shareArticle?url={{ page.url | prepend: site.url }}&title={{ page.title }}&summary=<SUMMARY>&source=<SOURCE_URL>" target="_blank" class="share-btn linkedin">
        <i class="fab fa-linkedin"></i>
    </a>
</div>