.mb-1 {
    margin-bottom: 1em;
}

.nobreak {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.logo {
    margin-top: -15px !important;
}
.logo img {
    max-height: 50px !important
}