{% include header.html %}

<!--start: Container-->
<div class="container">
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>Estatísticas</h1>
        <p>Estatísticas de capturas por estação.</p>
    </div>

	<!--start: Row -->
	<div class="row">
        {% include social.html %}

        <div class="stats">
            {% assign stations = site.stations | sort: 'navigation_weight' %}
            {% assign column = 1 %}
            {% for station in stations %}
                {% assign stats = page.capturas | where: "station", station.station | reverse %}

                <div class="col-lg-3 col-md-6 col-xs-12">
                    <h2>{{ station.station }}</h2>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Ano</th>
                                <th>Mês</th>
                                <th>Capturas</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for post in stats %}
                            <tr>
                                <td>{{ post.year }}</td>
                                <td>{{ post.month }}</td>
                                <td>{{ post.captures }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% if column == 4 %}
                    </div>
                    <div class="col-lg-3 col-md-6 col-xs-12">
                    {% assign column = 1 %}
                {% else %}
                    </div>
                    {% assign column = column | plus: 1 %}
                {% endif %}
            {% endfor %}
        </div>
	</div>
	<!--end: Row -->
</div>
<!--end: Container-->

{% include footer.html %}