{% include header.html %}

<!--start: Container-->
<div class="container">
	<!--start: Row -->
	<div class="row">
		<div class="post-content col-lg-12 col-xs-12 mb-1">
			{% include social.html %}

			{% assign image = page.capture | replace: 'T.jpg', 'P.jpg' %}
			{% assign station = image | split: "/" | first %}
			{% assign arquivo = image | split: "/" | last %}
			{% assign analyze = site.data.analyzers[ image ] %}
			<div class="post-description embed-responsive embed-responsive-16by9">
				<video width="100%" controls autoplay loop id="videoPlayer" class="embed-responsive-item">
					<source src="{{ arquivo | replace: 'P.jpg', '.mp4' | prepend: "videos/" | prepend: site.build.storage.url }}" type="video/mp4" id="videoSource">
					Seu navegador não suporta a tag de vídeo.
				</video>
			</div>
			<div class="post-meta mb-1">
				<span><i class="fa fa-calendar"></i> Data: {{ page.date | date: '%d/%m/%Y' }}</span><br>
				<span><i class="fa fa-clock"></i> Hora: {{ page.date | date: '%H:%M:%S' }} UTC</span><br>
				{% if analyze %}
				<span><i class="fa fa-meteor"></i> Classe: {{ analyze.class }}</span><br>
				<span><i class="fa fa-sun"></i> Magnitude: {{ analyze.magnitude | round: 2 }}</span><br>
				<span><i class="fa fa-stopwatch-20"></i> Duração: {{ analyze.duration | round: 2 }}s</span><br>
				{% else %}
				<span><i class="fa fa-meteor"></i> Classe: não analisado</span><br>
				<span><i class="fa fa-sun"></i> Magnitude: não analisado</span><br>
				<span><i class="fa fa-stopwatch-20"></i> Duração: não analisado</span><br>
				{% endif %}
			</div>
			{% if analyze %}
				{% assign meteor_class = analyze.class | replace: '*', '' %}
				{% assign shower = site.data.showers[ meteor_class ] %}
			<div class="post-body">
				<p>
					Fenômeno registrado em {{ page.date | date: '%d/%m/%Y' }} por volta das {{ page.date | date: '%H:%M:%S' }} (UTC)
					pela câmera {{ station }} da estação de monitoramento de {{ site.city }}. <br>
					A fase luminosa, que durou {{ analyze.duration }} segundos, teve um pico de magnitude de {{ analyze.magnitude | round: 2 }},
					iniciou-se no azimute {{ analyze.azimute_start | round: 2 }} com uma elevação de {{ analyze.elevation_start | round: 2 }}° e altitude estimada
					de {{ analyze.altitude_start | round: 2 }} km sobre as coordenadas {{ analyze.latitude_start | round: 2 }}, {{ analyze.longitude_start | round: 2 }}.
				</p>
				<p>
					{% assign velocity = analyze.velocity | plus: 0 %}
					
					{% if velocity > 0 %}
						O meteoro entrou na atmosfera com uma velocidade inicial estimada de {{ velocity | round: 2 }} km/s.<br>
					{% endif %}
				</p>
				{% if analyze.class != "spo" %}
				<p>
					A análise sugeriu também que este meteoro possivelmente pertence à chuva denominada {{ shower.shower_name }}
					identificada pelo código {{ shower.IAUNo }} {{ shower.Code }} da IAU.<br>

					{% if shower.Parent != "" and shower.Parent != " " %}
						Esta chuva está relacionada ao corpo parental: {{ shower.Parent }}.
					{% endif %}
				</p>
				<br>
				<cite>Referência: 1) Rudawska and Jenniskens, 2014</cite>
				{% endif %}
			</div>
			{% endif %}
			<hr>
			<div id="disqus_thread"></div>
		</div>

		{% if jekyll.environment == "production" %}
		<script>
			var disqus_config = function () {
				this.page.url = '{{ page.url | prepend: site.url }}';
				this.page.identifier = '{{ page.title }}';
			};
			(function() {
				var d = document, s = d.createElement('script');
				s.src = 'https://meteoros-floripa.disqus.com/embed.js';
				s.setAttribute('data-timestamp', +new Date());
				(d.head || d.body).appendChild(s);
			})();
		</script>
		<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
		{% endif %}
	</div>
	<!--end: Row -->
</div>
<!--end: Container-->

{% include footer.html %}
