{% include header.html %}

<!--start: Container-->
<div class="container">
	<!--start: Row -->
	<div class="row">
		{% include social.html %}

		{% assign base_file = page.capture.imagem | split: "/" | last %}
		{% assign analyze = site.data.analyzers[ page.capture.imagem ] %}

		<article class="mb-1">
			<div class="post-content">
				<div class="post-description embed-responsive embed-responsive-16by9">
					<video height="480" width="720" controls autoplay loop id="videoPlayer" class="embed-responsive-item">
						<source src="{{ page.capture | replace: 'T.jpg', '.mp4' | prepend: site.s3_bucket }}" type="video/mp4" id="videoSource">
						Seu navegador não suporta a tag de vídeo.
					</video>
				</div>
				<div class="post-meta">
					<span><i class="fa fa-calendar"></i> Data: {{ page.date | date: '%d/%m/%Y' }}</span><br>
					<span><i class="fa fa-clock"></i> Hora: {{ page.date | date: '%H:%M:%S' }} UTC</span><br>
					<span><i class="fa fa-meteor"></i> Classe: {{ analyze.class }}</span>
				</div>
			</div>
		</article>
	</div>
	<!--end: Row -->
</div>
<!--end: Container-->

{% include footer.html %}